body{
   
    background-color: #314659;
  
}

.jumbotron{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
    
}



.profesionals{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:red;
    margin-left: auto;
    margin-right: auto;
    
}

.probutton{
    margin-top: 30%;
}

.function{
    
    margin-bottom: 20px;
    background-color: royalblue;
    padding-top: 5px;
    padding-bottom: 10%;
}

