
body{
   
    background-color: #314659;

    
}

.jumbotron{
    
    background-image: url(https://images.unsplash.com/photo-1452860606245-08befc0ff44b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 0;
    padding-left: 0;
    color: white;
    border-radius: 20px;
}

h1{
    
    background-color: rgba(23, 165, 151, 0.768);
    border: 2px solid rgba(23, 165, 151, 0.768);
    border-radius: 20px;
    
    
}




.profesionals{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(23, 165, 151, 0.213);
    border-radius: 20px;
}

.probutton{
    margin-top: 30%;
}

.function{
    
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 10%;
    color: white;
    background: rgba(23, 165, 151, 0.213);
    border-radius: 20px;
}

